

p {
    font-size: 1px;
}

.banner-img {
    // background-image: var(--background-url);
    position: relative;
    display: flex;
    // background-color: green;
    background-size: cover; 
    background-position: top center; /* điều chỉnh vị trí của ảnh, ở đây là trung tâm trên */
    background-repeat: no-repeat; 
    height: 230px;
    width: 100%;
  }
  


 

  .content {
    position: absolute;
    bottom: 60px;
    left: 10px;

    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    

  }
  

  .content p {
    
    font-size: 50px;
    
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  
  // .main {
  //   max-height: calc(100vh - 95px); 
  //   overflow: auto;
  //   max-height: 100vh;
  //   background-color: #121212;
  // }
  
  .play {
    padding: 20px;
  
    margin: 20px;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  
  .dashboard p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .play i bi{
    background-color: #000;
  }

  .play:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
    .dashboard {
    padding: 20px;
  
    }
    .dashboard p {
      font-size: 13px;
      margin-left: 10px;
    }
  .dashboard h3 {
    color: white;
    font-weight: bold;
  }
  
  .item:hover {
    background-color: #252525;
    border-radius: 10px;
  }

  .item a:hover p:nth-child(1) {
    text-decoration: underline;
  }
  
  .item
  {
    height: auto;
    display: flex;
    
    width: 100%;
    padding: 5px;   
    // justify-content: space-between;
    color: white;
  }
 
  


  .content-track{
    width: 100%;
    flex-wrap: wrap;
      // gap: 100px;
      display: flex;
      justify-content: space-between;
  }



  .item div p {
    // margin-right: 20px;
    font-size: 10px;
    padding: 0;
  }

  p{
    padding: 0;
    margin: 0;
  }
  
  .dashboard img {
    // flex: ;
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }

  .tieude {
    display: flex;
  }

  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb { 
        border-radius: 4px;
        background: lighten( rgb(40, 40, 40), 6% );
  }