<div class="main">
  <div
    class="banner-img"
    [ngStyle]="{ 'background-image': 'url(' + imgurl + ')' }"
  >
    <div class="content">
      <p>{{ infoplaylist.name }}</p>
      <!-- <p>{{album.artists[0].name}}</p> -->
    </div>
  </div>

  <div class="play">
    <i class="bi bi-play-fill"></i>
  </div>

  <div class="dashboard">
  
    <div class="item" *ngFor="let item of data; let i = index">
      <div>
        <p>{{ i + 1 }}</p>
      </div>

      <img [src]="item.track.album.images[2].url" alt="" />
      <div class="content-track">
        <div style="width: calc(100% / 3)">
          <p
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
             (click)="
             updatedata(
               item.track.name,
               item.track.artists[0].name,
               item.track.album.images[2].url,
               item.track.uri
             );
             playmusic(item.track.uri)
           "
          >
            {{ item.track.name }}
          </p>
        </div>
        <div style="width: calc(100% / 3); color: #b3b3b3">
          <p
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ item.track.album.name }}
          </p>
        </div>
        <div>
          <p style="color: #b3b3b3">{{ Format(item.track.duration_ms) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
