<div class="main" *ngIf="!user">
  <div
    class="banner-img"
    [ngStyle]="{ 'background-image': 'url(' + imgUrl + ')' }"
  >
    <div class="content">
      <p>{{ infoPlaylist.name }}</p>
      <!-- <p>{{album.artists[0].name}}</p> -->
    </div>
  </div>

  <div class="play">
    <i class="bi bi-play-fill"></i>
  </div>

  <div class="dashboard">
    <div class="header-tieude">
      <div class="stt">
        <p>#</p>
      </div>
      <div class="name-track">
        <p>Tiêu đề</p>
      </div>
      <div class="name-album">
        <p>Album</p>
      </div>
      <div class="time">
        <p><i class="bi bi-clock"></i></p>
      </div>
    </div>
    <hr>

    <div class="item" *ngFor="let item of data; let i = index">
      <div class="stt">
        <p>{{ i + 1 }}</p>
      </div>

      <div class="content-track">
        <div class="name-track">
          <img [src]="item.track.album.images[2].url" alt="" />
          <p>
            {{ item.track.name }}
          </p>
        </div>
        <div class="name-album">
          <p>
            {{ item.track.album.name }}
          </p>
        </div>
        <div class="time">
          <p>{{ Format(item.track.duration_ms) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="user">
  <app-my-playlist></app-my-playlist>
</div>
