p {
  font-size: 1px;
}

.banner-img {
  position: relative;
  display: flex;

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 230px;
  width: 100%;
}

.content {
  position: absolute;
  bottom: 60px;
  left: 10px;

  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.content p {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  height: calc(100vh - 80px);
  // overflow: auto;
  // max-height: 100vh;
  background-color: #121212;
}

.play {
  padding: 20px;

  margin: 20px;
  background-color: green;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.dashboard p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.play i bi {
  background-color: #000;
}

.play:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.dashboard {
  padding: 20px;
}
.dashboard p {
  font-size: 13px;
  margin-left: 10px;
}
.dashboard h3 {
  color: white;
  font-weight: bold;
}

.item:hover {
  background-color: #252525;
  border-radius: 5px;
}

.item a:hover p:nth-child(1) {
  text-decoration: underline;
}

.item {
  height: auto;
  display: flex;

  width: 100%;
  padding: 8px;
  // justify-content: space-between;
  color: white;
}

.content-track {
  width: 100%;
  flex-wrap: wrap;
  // gap: 100px;
  display: flex;
  // justify-content: space-between;
}


p {
  padding: 0;
  margin: 0;
}

.dashboard img {
  // flex: ;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.tieude {
  display: flex;
}

.header-tieude{
  display: flex;
  margin-bottom: 20px;
}
.stt {
  width: 2%;
}

.time {
  width: 10%;
  p{
      color: gray;
      font-size: 15px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}

.name-album
{
  width: 40%;
}
.name-track {
  display: flex;
  width: 40%;
  margin-left: 10px;
}

.name-album, .name-track, .time, .stt p{
  color: gray;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-track{
  .name-track {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .name-album, .time {

      p {
          color: gray;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }
}
 hr {
  color: white;
 }




::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: lighten(rgb(40, 40, 40), 6%);
}
