.main {
  background-color: #121212;

  .banner-img {
    position: relative;
    height: 250px;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    .a-name {
      position: absolute;
      bottom: 30px;
      margin-left: 30px;
      font-size: 90px;
      color: white;
      font-weight: bold;
    }
  }

  .dashboard {
    padding: 20px;

    p:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    img {
      height: 40px;
      width: 40px;
    }
    p {
      font-size: 10px;
    }
    h3 {
      color: white;
      font-weight: bold;
    }
    .item {
      transition: all ease 0.2s;

      display: flex;
      padding: 5px;
      justify-content: space-between;
      color: white;
      &:hover {
        background-color: #252525;
        border-radius: 10px;
      }
      p {
        margin-right: 20px;
      }
      .img-ct {
        display: flex;
        width: 700px;
        img {
          margin-right: 20px;
          height: 30px;
          width: 30px;
        }
      }
      .ct-pop {
        p {
          color: #b3b3b3;
        }
      }

      .ct-dur {
        p {
          color: #b3b3b3;
        }
      }
    }
  }
  .play {
    padding: 20px;

    margin: 20px;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    i bi {
      background-color: #000;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: lighten(rgb(40, 40, 40), 6%);
}
