.banner-img {
  position: relative;
  // background: (to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  height: 250px;
  width: 100%;
}

.banner-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.banner-img .a-name {
  position: absolute;
  bottom: 30px;
  margin-left: 30px;
  font-size: 90px;
  color: white;
  font-weight: bold;
}

.dashboard p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main {
  // overflow: auto;
  // margin-top: 320px;
  height: calc(100vh - 80px);
  background-color: #121212;
}

.play {
  padding: 20px;

  margin: 20px;
  background-color: green;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.play i bi {
  background-color: #000;
}
.dashboard {
  padding: 20px;
}

.dashboard img {
  height: 40px;
  width: 40px;
}

.dashboard p {
  font-size: 15px;
}
.dashboard h3 {
  color: white;
  font-weight: bold;
}

.item:hover {
  background-color: #252525;
  border-radius: 5px;
  .stt {
    width: 3%;
  align-items: center;

    p {
      display: none;
      
    }
    i {
      display: block;
    }
  }
}

.item {
  transition: all ease 0.2s;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  color: white;
}
.item p {
  margin-right: 20px;
}

.item .img-ct img {
  margin-right: 20px;
  height: 50px;
  width: 50px;
}
.item .img-ct {
  align-items: center;

  display: flex;
  width: 700px;
  .stt {
    // align-items: center;
    width: 3%;
  }
}

  .img-ct i {
    display: none;
  }
 p{
  margin-bottom: 0;
 }
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: lighten(rgb(40, 40, 40), 6%);
}
