<div class="main">
  <div class="banner-img"  >
    <img [src]="artist.images[0].url" alt="">
    <div class="a-name">
    <p>{{artist.name}}</p>
  </div>
  </div>

  <div class="play">
    <i class="bi bi-play-fill"></i>
  </div>

  <div class="dashboard">
    <h3> Phổ biến</h3>
    <div class="item" *ngFor = "let item of listitems; let i = index">
      <p>{{i+1}}</p>
      <div class="img-ct">
      <img [src]="item.album.images[2].url" alt="">
      <p (click)="updatedata(item.name,artist.name,item.album.images[2].url, item.uri)">{{item.name}}</p>
      </div>
      <div>
      <p style="color: #b3b3b3;">{{item.popularity}}</p>
    </div>
    <div style="color: #b3b3b3;">
      <p>{{formatMillisecondsToMinutesAndSeconds(item.duration_ms)}}</p>
    </div>
    </div>
  </div>


  
</div>
