<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href=""><img src="../../../assets/img/spo-logo.png" alt=""></a>
        </div>
    </header>

    <section>
        <div class="main">
            <h1>Đăng ký để bắt đầu nghe</h1>
          
            <hr>
             <div class="log-in">
                <form action="">
                    <label>Name</label>

                    <input [(ngModel)] = "signup.name" type="text"  name="name" placeholder="Name">
                    <label>Email</label>

                    <input type="text"  name="email" placeholder="Email">
                    <!-- [(ngModel)] = "loginObj.email" -->
                    <label>Password</label>
                    <input type="password"  name="password" placeholder="Password">
                    <!-- [(ngModel)] = "loginObj.password" -->
                  

                    <button >Sign Up</button>
                </form>
             </div>
             <hr>
             
            <div class="account-connect">
                <button class="a-c-btn" id="g"><img src="../../../assets/img/google.png"/><span>Đăng ký bằng google</span></button>
                <button class="a-c-btn" id="g"><img src="../../../assets/img/facebook.png"/><span>Đăng ký bằng facebook</span></button>
              
            </div>
             <div class="last">
                <span>Bạn đã có tài khoản?<a href="/login">Đăng nhập tại đây</a></span>

             </div>
        </div>
    </section>


</body>
</html>




