<div class="music-player">
  <div class="song-bar">
    <div class="song-infos">
      <div class="image-container">
        <img [src]="dataTrack.album.images[0].url" alt="" />
      </div>
      <div class="song-description">
        <p class="title">
          {{ dataTrack.name }}
        </p>
        
        <p class="artist">{{ dataTrack.artists[0].name }}</p>
      </div>
    </div>
    <div class="icons">
      <i class="far fa-heart"></i>
      <i class="fas fa-compress"></i>
    </div>
  </div>
  <div class="progress-controller">
    <div class="control-buttons">
      <i class="fas fa-random"></i>
      <i class="bi bi-skip-start-fill"></i>
      <div
        class="play"
        [ngClass]="{ show: !play, hide: play }"
        (click)="handleClick()"
      >
        <i class="bi bi-play-fill"></i>
      </div>
      <div
        class="hide"
        [ngClass]="{ show: play, hide: !play }"
        (click)="handleClick()"
      >
        <i class="bi bi-pause-fill"></i>
      </div>
      <i class="bi bi-skip-end-fill"></i>
      <i class="bi bi-undo-alt"></i>
    </div>
    <div class="progress-container">
      <span>{{format(progressTime)}}</span>
      <div class="progress-bar">
        <div class="progress" [style.--progressPercent]="progressPercent + '%'" ></div>
      </div>
      <span>{{ format(dataTrack.duration_ms) }}</span>
    </div>
  </div>
  <div class="other-features">
    <i class="bi bi-list-ul"></i>
    <i class="bi bi-desktop"></i>
    <div class="volume-bar">
      <i class="bi bi-volume-down"></i>
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>
  </div>
</div>
