<div class="sidebar">
  <div class="navigation">
    <ul>
      <li>
        <a [routerLink]="['']">
          <span class="bi bi-house-door-fill"></span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/']">
          <span class="bi bi-search"></span>
          <span>Search</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="navigation-1">
    <ul>
      <li>
        <a [routerLink]="['/']">
          <span class="bi bi-music-note-list"></span>
          <span>Playlist</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="bi bi-suit-heart-fill"></span>
          <span>Liked Songs</span>
        </a>
      </li>
    </ul>
  </div>
</div>
