.main {
    max-height: calc(100vh - 95px); /* Đặt chiều cao tối đa cho phần tử này, trừ đi chiều cao của topbar */
    padding: 20px;
    margin-top: 50px;

}


img {
    
    width: 100%;
    height: 100%;
}
.main h2 {
    color: white;
}

.dashboard {
    gap: 20px;
    display: flex;
   flex-wrap: wrap;
   
}
a {
    text-decoration: none;
  }
.item {
    width: calc((100% - 60px)/4);
 
    padding: 10px;
    background-color: #181818;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all ease 0.4s;  

}

.item:hover  {
    background-color: #252525;
    cursor: pointer;
  }

.item p {
    color: white;
    margin-top: 3px;
}