<div class="edit" *ngIf="show">
  <!-- eslint-disable -->
  <div class="layout-edit">
    <div class="edit-name">
      <p>Sửa thông tin chi tiết</p>
      <i (click)="closeEdit()" class="bi bi-x"></i>
    </div>
    <div class="content-edit">
      <div class="edit-img">
        <img [src]="" alt="" />
      </div>

      <div class="right-edit">
        <div class="name-playlist">
          <input type="text" />
        </div>
        <div class="description">
          <textarea name="" id=""></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="button">
    <button>Lưu</button>
  </div>
</div>
