.main {
  // position: relative;
}

.banner-img {
  position: relative;
  display: flex;
  background-color: green;
  height: 250px;
  width: 100%;
}

.banner-img img {
  position: absolute;
  //    top: 20px;
  bottom: 20px;
  width: 128px;
  height: 128px;
  left: 20px;
  border-radius: 5px;
  //    margin: 20px;
}
.banner-img img:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.content {
  position: absolute;
  bottom: 10px;
  left: 180px;
  font-size: 50px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.content p:nth-child(2) {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: white;
}

// .main {
//   max-height: calc(100vh - 95px);
//   overflow: auto;
//   max-height: 100vh;
//   background-color: #121212;
// }

.play {
  padding: 20px;

  margin: 20px;
  background-color: green;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.dashboard p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.play i bi {
  background-color: #000;
}

.play:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.dashboard {
  padding: 20px;
}
.dashboard p {
  font-size: 13px;
  margin-left: 10px;
}
.dashboard h3 {
  color: white;
  font-weight: bold;
}

.item:hover {
  background-color: #252525;
  border-radius: 10px;
}

.item a:hover p:nth-child(1) {
  text-decoration: underline;
}

.item {
  height: auto;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  color: white;
}
.item p {
  font-size: 10px;
  // margin-right: 20px;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.item .img-ct {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 700px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: lighten(rgb(40, 40, 40), 6%);
}
